body {
	margin:0;
	padding:0;
	background-color:blue;
}

#backgroundPic {
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
}

#text {
    position:absolute;
    font-size:1.5vmax;
    top:10%;
    left:20%;
    width:60%;
    height:80%;
    background-color:white;
	overflow-y:auto;
}

#toTutorial {
    position:absolute;
    width:30%;
    height:8%;
    text-align:center;
    bottom:0.5%;
    left:35%;
    font-size:2vmax;
    text-decoration: none;
	color: #FFF;
}

/* NEW BUTTON */
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color:#00FF00;
	border-bottom: 5px solid #04B404;
	text-decoration: none;	
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.gray
{
    background-color: #BDBDBD;
	border-bottom: 5px solid #848484;
	text-shadow: 0px -2px ##848484;
}

.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
