
.leaflet-control-easyPrint a {
  background:#fff url(../images/print.png) no-repeat 5px;
  background-size:16px 16px;
  display: block;
}



@media print {

	html,body {
        padding: 0px!important;
        width:1600px!important;
        height:800px!important;
    }
	.leaflet-control-easyPrint-button{display: none!important;}

}
