
/* BODY */
body { 
	margin:0;
	padding:0; 
}

canvas {
position:absolute;
top:100%;
width:100%;
height:100%;
}

/* MAP LAYOUT */
#map {
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
	z-index:1;
}

#zoom {
	position:absolute;
	top:15%;
	left:0.5%;
	height:15%;
	width:2%;
	z-index:5;
}

#zoomBackground {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:33%;
	z-index:4;
}

#zoomer {
	position:absolute;
	top:1.6%;
	left:5%;
	width:90%;
	height:30%;
	z-index:5;
}

#plus {
	position:absolute;
	top:36%;
	left:5%;
	height:30%;
	width:90%;
	z-index:-1;
	display:none;
}

#minus {
	position:absolute;
	top:66%;
	left:5%;
	height:30%;
	width:90%;
	z-index:-1;
	display:none;
}

#printer {
    position:absolute;
    top:15%;
    left:3%;
	height:5%;
	width:2%;
    z-index:5;
}

#printerBackground {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:4;
}

#print {
	position:absolute;
	top:10%;
	left:10%;
	width:80%;
	height:80%;
	z-index:5;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.leaflet-container img { max-width:none!important; }

/* INPUT WINDOW FOR ADDRESS INPUT */
#inputs {
	position:absolute;
	top:2.5%;
	left:0.22%;
	width:15.31%;
	height:12.5%;
	z-index:2;
}

#datetime {
	position:absolute;
	top:-15%;
	left:0%;
	z-index:2;
	width:100%;
	height:35%;
}

#date {
	position:absolute;
	left:0%;
	top:0%;
	height:100%;
	width:60%;
	text-align:center;
}

#time {
	position:absolute;
	left:62%;
	top:0%;
	height:100%;
	width:38%;
	text-align:center;
}

#start {
	position:absolute;
	top:21%;
	left:0%;
	width:100%;
	height:35%;
}

#end {
	position:absolute;
	top:57%;
	left:0%;
	width:100%;
	height:35%;
}

#OK-Buttons {
	position:absolute;
	top:0%;
	left:15.8%;
	height:12.5%;
	z-index:3;
}

#startOK {
	position:absolute;
	top:42%;
	left:0%;
	height:30%;
}

#endOK {
	position:absolute;
	top:78%;
	left:0%;
	height:30%;
}



/* BUTTONS ON THE RIGHT BOTTOM */
#backForward {
	position:absolute;
	bottom:1.35%;
	left:0.63%;
	height:10%;
	width:6.25%;
	z-index:4;
}

#endOfRouting, #endOfRoutingAndDanger {
	position:absolute;
	bottom:0%;
	left:0%;
	width:80%;
	height:100%;
	z-index:2;
}

#backToTutorial {
	position:absolute;
	bottom:0%;
	left:100%;
	height:100%;
	width:80%;
	z-index:2;
}


/* BUTTON FOR REMOVING EVERYTHING */
#removeAllMarkers,#backToRouting{
	position:absolute;
	top:1.35%;
	right:0.63%;
	width:5%;
	height:10%;
	z-index:2;
}

#removeAllMarkersButton,#backToRoutingButton {
    position:absolute;
    top:0%;
    right:0%;
    width:100%;
    height:100%;
}

#removeAllMarkersMessage,#backToRoutingMessage {
	position:absolute;
	top:10px;
	right:10px;
	text-align:center;
	background-color:white;
	border-style:dashed;
	z-index:-1;
}

/* INPUTS FOR FIRST INSERTION */
#firstInput{
	position:absolute;
	width:65%;
	height:20%;
	top:20%;
	left:22%;
	z-index:2;
}

#fstart,#fend,#famount{
	position:absolute;
	width:80%;
	height:100%;
	left:0%;
	top:0%;
	text-align: center;
	font-size:3vmax; 
}

#fstartOK,#fendOK,#famountOK{
	position:absolute;
	left:82%;
	top:0%;
	height:100%;
	width:auto;
}

#fclockOK {
	position:absolute;
	left:75%;
	top:0%;
	height:100%;
	width:auto;
}

/* CHOICE OF TRANSPORTATION */
#transportation {
	position: absolute;
	width:6.25%;
	height:62.5%;
	right:1.25%;
	top:18.75%;
	z-index:3;
}

#dotBox {
	position:absolute;
	height:110%; 
	width:110%;
	top:-8%;
	left:5%;
	z-index:-1;
}

#foot {
	position: absolute;
	width:65%;
	height:auto;
	right:10%;
	top:0%;
}

#bike {
	position:absolute;
	width:80%;
	height:auto;
	right:0%;
	top:20%;
}

#car {
	position:absolute;
	width:80%;
	height: auto;
	right:0%;
	top:40%;
}

#bus {
	position:absolute;
	width:80%;
	height: auto;
	right:0%;
	top:58%;
}

#underground {
	position:absolute;
	width:70%;
	height:auto;
	right:5%;
	top:79%;
}

#rectangle{
	position:absolute;
	width:100%;
	height: auto;
	right:-10%;
	top:-4%;
	z-index:-1;
}

/* DANGER REPORT */
#dangerMod {
	position:absolute;
	left:40%;
	width:20%;
	text-align:center;
	z-index:-1;
	font-size:1.5vmax;
	border-style:dashed;
	color:gray;
	background-color:#2EFE2E; /*light green*/
}

/* HELPER w8h2 1280*/
#helper {
	position:absolute;
    width:24.38%; 
    height:36.25%;
	z-index:3;
	bottom:0%;
	left:0%;
}

/* CLOCK */
#timeInput {
	position:absolute;
	top:-30%;
	left:50.78%;
	width:23.44%;
	height:156.25%;
	z-index:3;
}


/* CALENDAR */
#dateInput {
	position:absolute;
	top:0%;
	left:5.63%;
	height:40%;
	width:28%;
	z-index:4;
}

/* LOADING */
#loader {
    position:absolute; top:0; bottom:0; width:100%;
    background:rgba(255, 255, 255, 1);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
	z-index:100;
}

#loader.done {
    background:rgba(255, 255, 255, 0);
	z-index:-10;
}

#loader .loadMessage {
    position:absolute;
    left:50%;
    top:50%;
}

#myAlert {
	position:absolute;
	left:30%;
	top:30%;
	width:40%;
	height:20%;
	z-index:-1;
	text-align:center;
	background-color:white;
	border-style:solid;
	border-color:red;
	background-color:#D8D8D8;
}

#alertMessage {
	position:absolute;
	left:5%;
	top:5%;
	width:65%;
	height:60%;
	font-size:1.5vmax;
}

#alertReset {
	position:absolute;
	left:35%;
	top:68%;
	height:30%;
	width:auto;
}

#alertImage {
	position:absolute;
	left:75%;
	top:10%;
	width:20%;
	height:80%;
}

