body {
	margin:0;
	padding:0;
	background-color:blue;
}

#backgroundPic {
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
}

#thankYouMessage {
	position:absolute;
	width:40%;
	left:10%;
	top:20%;
	text-align:center;
	color:white;
}

#backToRouting {
	text-align:center;
	font-size:2vmax;
	width:50%;
	left:25%;
	height:10%;
    text-decoration: none;
	color: #FFF;
}

#image {
	position:absolute;
	left:55%;
	top:20%;
}

/* NEW BUTTON */
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color:#00FF00;
	border-bottom: 5px solid #04B404;
	text-shadow: 0px -2px #04B404;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.gray
{
    background-color: #BDBDBD;
	border-bottom: 5px solid #848484;
	text-shadow: 0px -2px ##848484;
}

.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
