
/* BODY */
body {
	margin:0;
	padding:0;
	background-color:blue;
}


h1 {
	text-align:center;
	font-size:6vmin;
}

h3 {
	text-align: center;
	font-size:4vmin;
}

p.serif {
	font-family: "Times New Roman", Times, serif;
}

p.sansserif {
	font-family: Arial,Helvetica,sans-serif;
}

/* HEADER */
#header {
	position:absolute;
	width:40%;
	top:3.75%;
	left:30%;
	right:30%;
	z-index:2;
	color:green;
	background-color:white;
}

#firstWords {
	position:absolute;
	width:48%;
	left: 5%;
	top:25%;
	z-index:1;
	font-size:3vmin;
	color:green;
	background-color:white;
}


/* TUTORIAL */
#tutorial {
	position:absolute;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	top:28.75%;
	text-align:center;
	z-index:2;
}



/* Contact & About */
#contactAndAbout {
	position:absolute;
	width:20%;
	height:6%;
	right:0.63%;
	bottom:8%;
	z-index:2;
	text-align:center;
}

#toContact {
    position:absolute;
    width:49%;
    height:100%;
    right:0%;
    top:100%;
    text-align:center;
	font-size:0.9vmax;
    text-decoration: none;
	color: #FFF;
}

#toAbout {
    position:absolute;
    height:100%;
    width:49%;
    right:52%;
    text-align:center;
    top:100%;
	font-size:0.9vmax;
    text-decoration: none;
	color: #FFF;
} 

#toRouting {
	position:absolute;
	left:30%;
	bottom:2%;
	width:40%;
	text-align:center;
	z-index:5;
    text-decoration: none;
	color: #FFF;
}

/* VIDEO TUTORIAL */
#video {
	position: absolute;
	z-index:5;
	width:60%;
	height:auto;
	left:20%;
	top:46.25%;
}

#vid {
	position:absolute;
	width:100vmin;
	height:auto;
}

/* BACKGROUND PICTURE */
#backgroundPic {
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
}

/* HELPER */
#helper {
	position:absolute;
    width:24.38%; 
    height:36.25%;
	z-index:3;
	bottom:0%;
	left:0%;
}

/* NEW BUTTON */
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color:#00FF00;
	border-bottom: 5px solid #04B404;
	text-shadow: 0px -2px #04B404;
	font-size:3vmax;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.gray
{
    background-color: #BDBDBD;
	border-bottom: 5px solid #848484;
	text-shadow: 0px -2px ##848484;
	font-size:1.5vmax;
}

.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


