#all {
    position:absolute;
    left:0%;
    top:0%;
    width:100%;  /*390:290:*/
    height:100%;
	z-index:0;
}

#child {
    position:absolute;
    bottom:5%;
    right:10%;
    width:30.77%;
    height:auto;
    z-index:-1;
}

#bubble {
    position:absolute;
    top:5%;
    left:5%;
    width:64.10%;
    height:auto;
    z-index:2;
}

#message {
    position:absolute;
    top:15.17%;
    left:12.05%;
    width:43.59%;
    height:34.48%;
    text-align:center; /*justify für Blocksatz, center für mitte*/
    z-index:3;
}

img.bubble2 {
	position:absolute;
	left:66.67%;
	top:-155.17%;
	width:307.70%;
	height:206.90%;
}

div.message2 {
	position:absolute;
	left:85.67%;
	top:-130.00%;
	width:270.34%;
	height:106.90%;
	text-align:center;
	font-size:2.3vmax;
}

p.hidden,img.hidden{
	position:absolute;
	width:0.01%;
	height:0.01%;
	top:0%;
	left:0%;
	visibility:hidden;
}

