
/*
#clock2 {
	position:absolute;
	top:30%;
	left:20%;
}

#clock2Button {
	position:relative;
	top:210px;
	left:50px;
	width:100px;
	text-align:center;
}

#background2 {
	position:absolute;
	width:200px;
	height:200px;
}

#minute2 {
	position:absolute;
	width:20px;
	height:160px;
	top:20px;
	left:92px;
}

#hour2 {
	position:absolute;
	width:20px;
	height:120px;
	top:40px;
	left:92px;
}


#test1 {
	position:absolute;
	bottom:100px;
	width:200px;
}
*/

/*===============================================================*/

#clock {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	border-style:solid;
	border-color:black;
	background-color:white;
}

#background_clock{
	position:absolute;
	top:15.15%;
	left:16.67%;
	width:66.67%;
	height:60.61%;
}

#minute{
	position:absolute;
	width:6.67%;
	height:48.48%;
	top:21.21%;
	left:47.33%;
}

#hour {
	position:absolute;
	width:6.67%;
	height:36.36%;
	top:27.27%;
	left:47.33%;
}

#before {
	position:absolute;
	top:78.79%;
	left:16.33%;
	width:33.33%;
	text-align:center;
	font-size:0.8vmax;
	border-color:red;
}

#after {
	position:absolute;
	top:78.79%;
	left:50.33%;
	width:33.33%;
	text-align:center;
	font-size:0.8vmax;
	border-color:black;
}
