#calendar {
    position:absolute;
    top:112.5%;
    left:0%;
    z-index:1;
}

#listener {
    position:absolute;
    top:190%;
    left:5px;
    width:363px;
    height:117px;
    z-index:5;
}

#input {
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    border-style:solid;
    border-color:black;
	background-color:white;
    z-index:3;
}

#background_calendar {
    position:absolute;
    top:5%;
    left:0.93%;
    height:90%;
    width:auto;
    z-index:4;
}

#weekday {
    position: absolute;
    left:20.93%;
    top:-5%;
    width:70%;
    height:100%;
    text-align:center;
    font-size:2.5vmax;
    z-index:5;
}

#dateSmall {
    position:absolute;
    left:3.49%;
    top:17.5%;
    width:9.30%;
    height:50%;
    text-align:center;
    font-size:1.8vmax;
    z-index:5;
}

